<div class="row">
  <div class="col-xs-3 pull-left">
  	<img width="122" height="30" class="login-logo" src="/Content/images/BlackLogoFull.png" />
  </div>
</div>

<div class="spacer md-padding">
  <h1>Verify your mobile</h1>
  <form name="verifyForm" ng-submit="vm.submitverifyForm(verifyForm.$valid)" novalidate>
    <div class="layout layout-row">
      <md-input-container class="md-default-theme">
        <label>Verification code</label>
        <input class="md-input" name="code" data-ng-model="vm.code" data-ng-pattern="/^5502$/" required>
        <div class="errors" data-ng-messages="verifyForm.code.$error" ng-if="verifyForm.$dirty || vm.submitted">
          <div data-ng-message="pattern">the verfication code is invalid(for test only:5502).</div>
          <div data-ng-message="required">requried</div>
        </div>
      </md-input-container>
    </div>

    <md-content class="spacer">
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button type="submit" id="hp-confirm-btn" class="md-raised md-primary">Continue</md-button>
      </section>
      <section>
        <div class="footer">A verication code has been sent to <a ng-href='#/login/{{vm.countryDialCode}}/{{vm.mobile}}'>{{vm.dialCode}} {{vm.mobile}}</a>
        <p>RESEND CODE
      </section>
    </md-content>
  </form>
</div>
