.bg-login {
	background: #fff;
}

.bg-image {
	background: url(images/Homepass-people-inspection-blue.jpg) no-repeat right;
}

.login-logo {
	margin: 10px;
	width: 122px;
	height: 30px;
}

.spacer {
	margin-top: 170px;
}

#login-continue-btn {
  background: #03a9f4;
  font-weight: bold;
}

.terms {
	color: rgba(0,0,0,0.26);
	text-align: center;
}

.terms a {
	color: rgba(0,0,0,0.26);
	text-decoration: underline;
}