<div class="row">
  <div class="col-xs-3 pull-left">
  	<img width="122" height="30" class="login-logo" src="/Content/images/BlackLogoFull.png" />
  </div>
</div>

<div class="spacer md-padding">
  <h1>Welcome</h1>
  <div class="layout layout-row">
    <md-input-container class="md-default-theme">
      <md-select placeholder="Country" data-ng-model="vm.countryCode">
          <md-option ng-repeat="country in vm.countryPhoneCodes" value="{{country.code}}">
            {{country.name}}({{country.dial_code}})
          </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-default-theme">
      <label>Your mobile</label>
      <input class="md-input">
    </md-input-container>
  </div>

  <md-content class="spacer">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button id="login-continue-btn" class="md-raised md-primary">Continue</md-button>
    </section>
    <section>
      <div class="terms">By continuing you agree to <a href="http://www.homepass.com/terms/agent/">Terms</a> and <a href="http://homepass.com/terms/privacy/agent">Private Policy</a></div>
    </section>
  </md-content>
</div>
