<div class="row">
<div class="col-xs-3 pull-left">
	<img width="122" height="30" class="login-logo" src="/Content/images/BlackLogoFull.png" />
</div>
</div>



<div class="md-padding">
    <h1 class="md-title">Enter an address</h1>
<div class="layout layout-row">

      <md-input-container class="md-default-theme">
        <label for="input_1">Street Name</label>
        <input class="md-input" id="input_1">
      </md-input-container>

      <md-input-container class="md-default-theme">
        <label for="input_2">City</label>
        <input class="md-input" id="input_2">
      </md-input-container>

      <md-input-container class="md-default-theme">
		  <md-select class="width-100" data-ng-model="task.priority">
		  <md-select-label>Select a number</md-select-label>
		    <md-option value="one">One</md-option>
		    <md-option value="two">Two</md-option>
		    <md-option value="three">Three</md-option>
		    <md-option value="four">Four</md-option>
		    <md-option value="five">Five</md-option>
		  </md-select>

      </md-input-container>


    </div>
  </div>
